template(name="SendMessageIsCompleted")
  .list-group-item-heading
    .fa.fa-fw.fa-check
    span.name {{{_i18n.complete}}} (<a href="#" class="change execute textual">{{{_i18n.refresh}}}</a>)
    +UI.contentBlock
