.refresh-form
  .checkbox-inline
    padding-left 10px
  label
    vertical-align middle

.refresh-form, .step-content
  h5
    font-size 16px
    color #666666

.step-body
  .social
    margin-top 15px
