template(name="SelectDateRangeContentBlock")
  .list-group-item-heading
    .fa.fa-fw(class="fa-{{{_i18n.icon}}}")
    span.name {{{_i18n.default}}}
  .row
    form.col-xs-12
      .form-group
        +datepicker(name="dateFrom" placeholder=_i18n.placeholderFrom value=dateFrom)
      .form-group
        +datepicker(name="dateTo" placeholder=_i18n.placeholderTo value=dateTo)
      button.btn.btn-success(type="submit") {{{_i18n.submit}}}
