template(name="stepBadge")
  a(href="{{url}}").step-badge.list-group-item.large-list-group-item
    .fa.fa-fw(class="fa-{{_icon}}")
    span.name {{key}}
    span.text-muted {{cls}}
    //span.text-muted :: Avatars {{avatarIds}}
    //if recipeId
    //  span.text-muted :: Recipe {{recipeId}}
