template(name="loginButtons")
  .login-buttons-container.text-center
    div
      button.btn.btn-lg.btn-success.login-button
        strong Sign Up For Free
    div
      | Have an account?
      a.sign-in-form(href='#') Sign in
