template(name="loading")
  .loading.container
    .panel.panel-default.panel-top
      .panel-heading
        h4
          +menu
          +autorunCount
          +connection
          +home
          | ›
          span.fa.fa-fw.fa-spin.fa-spinner
          span.splinter Loading...
