template(name="LoadData")
  +ManagedStep(name="LoadData" step=.)
    .list-group-item-heading
      span.fa.fa-fw.fa-spin.fa-refresh
      | {{{_i18n.active}}} (<a href="#" class="change execute textual">{{{_i18n.refresh}}}</a>)
