template(name="maintenance")
  .welcome
    main#top.masthead.color1(role='main')
      .header
        .real-sugar
          a(href='/') Foreach for Trello
      .container
        h1
          | Site is down for maintenance
        h3
          | We'll be back soon!
