template(name="tweet")
  a(href="https://twitter.com/share" class="twitter-share-button" data-text=text data-via="BulkTools" data-size="large" data-related="BulkTools" data-count="none" data-url="{{currentUrl}}") Tweet
