.app
  .add-blueprint
    background-color #f9f9f9
    input
      font-size 18px
    .input-group-addon
      font-size 18px
      padding-left 0
    .input-group-btn
      float left
    .blueprint-name
      color: #2196f3
    .blueprint-appendix
      color: #bbbbbb
    .key-input-group
      .input-group-addon
        padding-right 0
    .blueprint-icon-preview
      display: table-cell

.app-logo
  max-height 24px
  vertical-align top

.xs-visible-megaphone
  margin-top 10px
