template(name="app")
  with app
    .app.container
      .row
        .col-xs-12
          .panel.panel-default.panel-top
            .panel-heading
              h4
                .row
                  .col-xs-9.col-sm-6.col-md-6.col-lg-7
                    +home
                    | ›
                    if imageUrl
                      img.app-logo(src="{{imageUrl}}")
                    span.splinter {{name}}
                  .col-xs-3.col-sm-6.col-md-6.col-lg-5
                    +menu
                    +autorunCount
                    +connection
      if userRecipes.count
        .row
          .col-xs-12
            .panel.panel-default
              .panel-heading
                | Use existing recipe
              .list-group
                each userRecipes
                  +recipeBadge
      .row
        .col-xs-12
          .panel.panel-default
            .panel-heading
              | Create new recipe
            .list-group
              each blueprints
                +blueprintBadge
              if not Pack.isApplied
                if currentUserIsEditor
                  form.list-group-item.add-blueprint.form-horizontal
                    .form-group
                      input.form-control.blueprint-app(type="hidden" name="appId", value="{{_id}}")
                      .col-xs-3
                        .input-group
                          span.input-group-addon
                            | I need to
                          input.form-control.blueprint-name(type="text" name="name" placeholder="Create a panacea")
                      .col-xs-2
                        input.form-control.blueprint-appendix(type="text" name="appendix" placeholder="for many people")
                      .col-xs-3
                        .input-group.key-input-group
                          span.input-group-addon
                            | at /{{key}}/
                          input.form-control.blueprint-key(type="text" name="key" placeholder="url")
                      .col-xs-2
                        .input-group.key-input-group
                          span.input-group-addon.blueprint-icon-preview(class="fa fa-{{previewIcon}}")
                            | &nbsp;
                          input.form-control.blueprint-icon(type="text" name="icon" placeholder="{{previewIcon}}")
                      .col-xs-2
                        span.input-group-btn
                          button.btn.btn-success.create-blueprint(type="submit")
                            | Create
              if not Pack.isApplied
                .list-group-item
                  h6
                    if blueprints.count
                      | Need something else for {{name}}? Request it here:
                    else
                      | Holy-moly! There are no bulk actions for {{name}} yet. Which one do you need?
                  +wishpool widgetId="Ce5YMnkSehauyyewh" style="display: block; width: 100%; height: 40px; max-width: 600px;"
