template(name="social")
  .social
    .g-plusone(href="/" data-size="medium")
    | &nbsp;
    +twitterShare
    | &nbsp;
    .fb-like.fb-button(data-layout='button_count', data-action='like', data-show-faces='true', data-share='false', data-size="medium")
    | &nbsp;
    br
    | or
    a.returnToActions Choose another action
    | Questions? Issues?
    a(href='mailto:denis.d.gorbachev@gmail.com') Contact me
