template(name="tos")
  .tos.container
    .panel.panel-default.panel-top
      .panel-heading
        h4
          +menu
          +autorunCount
          +connection
          a(href="/") Home
          | ›
          | Terms of Service
      .panel-body
        | Just like all other apps using Trello API, we are not affiliated, associated, authorized, endorsed by or in any way officially connected to Trello, Inc. (www.trello.com).
