template(name="AcquireCredential")
  +ManagedStep(name="AcquireCredential" step=.)
    .list-group-item-heading
      button.btn.btn-success.btn-lg.connect-to-api(data-api=api)
        .ready.fa.fa-fw.fa-plug
        .loading.fa.fa-fw.fa-spin.fa-spinner(style="display: none;")
        | {{{_i18n.default}}}
