template(name="Recipe")
  .Recipe.panel-body
    div
      a.back(href="{{listUrl}}") {{_i18n.name}} (your recipes)
      | ›
    h1.h5 {{displayName}}
    ul.text-muted
      li Recipe created {{moment createdAt "[on] LL [at] LTS"}}
  .Recipe.list-group
    each steps
      +Template.dynamic(template=template data=.)
