template(name="Recipe")
  .Recipe.panel-body
    h1.h5 {{displayName}}
    ul.text-muted
      li Created {{moment createdAt "[on] LL [at] LTS"}}
  .Recipe.list-group
    each steps
      +Template.dynamic(template=template data=.)
