template(name="footer")
  .panel-footer
    .row.breathe
      .col-xs-12
        .text-center
          | Love it? Hate it? Tweet at <a href="https://twitter.com/BackupHamsterHQ" target="_blank">@BackupHamsterHQ</a>
