template(name="menu")
  .hamburger-menu.dropdown.pull-right
    i.fa.fa-fw.fa-bars.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='true')
    ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
      li(role='presentation')
        a.visible-xs-block(href="/autorun", role='menuitem', tabindex='-1')
          i.fa.fa-fw.fa-bolt
          | Active recipes
      if not Pack.isApplied
        li(role='presentation')
          a(href="/pricing", role='menuitem', tabindex='-1')
            i.fa.fa-fw.fa-dollar
            | Pricing
        li.divider
      if currentUserReady
        if currentUserField "isAdmin"
          li(role='presentation')
            a(href="/health", role='menuitem', tabindex='-1')
              i.fa.fa-fw.fa-heart
              | Health
          li(role='presentation')
            a(href="/stats", role='menuitem', tabindex='-1')
              i.fa.fa-fw.fa-bar-chart
              | Statistics
        //if not Pack.isApplied
        //  li(role='presentation')
        //    a(href="/terms-of-service", role='menuitem', tabindex='-1')
        //      i.fa.fa-fw.fa-file-o
        //      | Terms of Service
        li(role='presentation')
          a.logout(href="#", role='menuitem', tabindex='-1')
            i.fa.fa-fw.fa-sign-out
            | Sign out
      else
        li(role='presentation')
          a.login(href="#", role='menuitem', tabindex='-1')
            i.fa.fa-fw.fa-sign-in
            | Sign in
