.modal-backdrop
  z-index 2147483200
.modal
  z-index 2147483300
.at-form
  background-color #FFFFFF
.at-oauth
  button
    position relative
    i
      position absolute
      left 15px
      top 12px
.at-signup-link
  text-align center
