template(name="currentPlan")
  span.current-plan
    | Currently you are on {{currentUserPlan.name}} plan.
    if currentUserPlan.limit
      nobr If you like {{Settings.public.name}}, please consider upgrading.
    else
      nobr Thank you!

