template(name="DefaultStepIsCompleted")
  .list-group-item-heading
    .fa.fa-fw.fa-check
    span.name {{{_i18n.complete}}} (<a href="#" class="change textual">{{{_i18n.change}}}</a>)
    +UI.contentBlock
