@import "nib"

.pricing
  .plans
    padding 10px 0
    .col
      padding-top 10px
      padding-bottom 10px
      /*padding 0 15px 0 0*/
      /*&:last-child*/
        /*padding 0 0 0 0*/
  .plan
    border 1px solid #bbbbbb
    border-radius 5px
    padding 0
    .name
      margin-top 0
    .sup
      letter-spacing: 1px;
      margin: 0 0 0 5px;
      -webkit-text-stroke-width: .6px;
      font-size: 26px;
    .features
      margin 25px auto
    button
      font-weight bold
