template(name="ChooseOneObject")
  +ManagedStep(name="ChooseOneObject" step=.)
    .list-group-item-heading
      .fa.fa-fw(class="fa-{{{_i18n.icon}}}")
      span.name {{{_i18n.default}}}
    .row
      form.col-xs-12
        .form-group
          select.form-control(name="key")
            option.text-muted(value="") {{{_i18n.placeholder}}}
            each options
              option(value="{{../key .}}" selected="{{../isSelected .}}") {{../value .}}
          p.help-block {{{_i18n.help}}}
        button.btn.btn-success(type="submit") Choose
      p.col-xs-12.text-muted Google Drive returns slightly outdated results. Please refresh ~15 seconds after saving the file in Drive.
