template(name="customVersion")
  .modal-content
    form
      .modal-header
        h4.modal-title What API integration do you need?
      .modal-body
        .form-group
          textarea.form-control(name="text" placeholder="I need ..." rows="4")
      .modal-footer
        button.btn.btn-success(type="submit")
          .ready.fa.fa-fw.fa-check
          .loading.fa.fa-fw.fa-spin.fa-spinner(style="display: none;")
          | Send
