template(name="megaphone")
  if not Pack.isApplied
    +wishpool widgetId="3kYMYj3XdSfqTEQQP" style="display: block; float: right; margin-top: -3px; margin-left: 5px; margin-right: 5px; max-width: 350px; height: 40px; width: 100%;"
