template(name="dashboard")
  if subscriptionsReady
    .dashboard.panel-body
      h5 Active recipes
      if not recipes.count
        p No active recipes found.
    .dashboard.list-group
      each recipes
        +recipeBadge
  else
    .dashboard.panel-body
      h5
        .fa.fa-fw.fa-refresh.fa-spin
        | Loading active recipes...
