.apps
  .panel-body
    form
      margin-bottom 20px
    .row
      margin 20px 0
    a:hover
      .name
        color #0a6ebd

.panel-body-wrap
  width: 100%
  max-width 600px
  margin 0 auto
  .app-wrap
    margin-bottom 20px
    display inline-block
    float none
    vertical-align top
    img
      width 100%
    .name
      font-size 1.5rem
      margin-bottom 0
