template(name="issue")
  li.error.text-danger(data-error="{{error}}")
    | {{reason}}
    span.text-muted (<a href="#" class="textual show-details">details</a>) <a href="#" class="remove fa fa-times text-muted not-underlined"></a>
