template(name="RecipeListRoute")
  if subscriptionsReady
    .RecipeList.panel-body
      div
        a.back(href="{{page.url}}") {{page._i18n.name}}
        | ›
      h1.h5
        i.fa.fa-fw(class="fa-trophy")
        | Your recipes
      p To edit an existing recipe, click the recipe name in the list below. To create a new recipe, <a href="#" class="insert-recipe">click here</a>.
      .list-group
        each page.recipes
          +recipeBadge
      p
        a(href="#").btn.btn-success.insert-recipe Create a new recipe
  else
    .RecipeList.panel-body
      h1.h5
        .fa.fa-fw.fa-refresh.fa-spin
        | Loading recipes...
