template(name="stepBody")
  .step-body
    form.refresh-form
      fieldset(disabled="{{not subscriptionsReady}}")
        .form-group
            .radio.run-mode
              label
                input(type="radio", name="mode", value="auto" checked="{{#if isAutorun}}checked{{/if}}")
                | Automatically every 5 minutes
            .radio.run-mode
              label
                input(type="radio", name="mode", value="manual", checked="{{#unless isAutorun}}checked{{/unless}}")
                | Manually
        unless isAutorun
          .manual-control
            .inner-addon.left-addon.pull-right
              .fa.fa-search
              +input(family="step" _id=_id property="search" placeholder="Quick search" isNew=false)
            h5
              button.refresh.btn.btn-success(type="submit")
                .fa.fa-fw(class="{{#if isLoading isLoadingRefreshSelector}}fa-refresh fa-spin{{else}}fa-refresh{{/if}}")
                | {{{_i18n.refresh}}}
              | &nbsp;
              if isLoading isLoadingRefreshSelector
                a.cancel(href="#") cancel
              else
                span
                  if subscriptionsReady
                    | {{#if count}}{{count}}{{else}}No{{/if}} items found
                  else
                    | Loading items...
    //h5
    //  span.fa.fa-fw(class="{{#if isMessageLoading}}fa-refresh fa-spin{{else}}fa-cloud-download{{/if}}")
    //  | Source: {{_i18n.source}}{{#if refreshedAt}}, {{#if isSubscriptionLoading}}loading{{else}}{{count}}{{/if}} rows, <acronym title="{{refreshedAt}}">{{momentFromNow refreshedAt}}</acronym>{{/if}}
    //  if condition refreshStrategy "is" "automatic"
    //    | (refreshed automatically)
    //  else
    //    | ({{#if isCredentialRequired}}<a href="#" class="connect">connect to {{credentialFields.api}}</a>{{else}}{{#if isMessageLoading}}<a href="#" class="cancel-refresh">cancel refresh</a>{{else}}<a href="#" class="refresh">refresh now</a>{{/if}}{{/if}})
    +issues

    if count
      unless isAutorun
        .step-content
          table.table.table-hover
            thead
              tr
                each shownColumns
                  th {{_i18n.name}}
                th
                  | Action
                  br
                  a(href="#").run-for-all-rows.not-underlined
                    .fa.fa-fw(class="{{#if isLoading isLoadingAllRowsSelector}}fa-spinner fa-spin{{else}}fa-bolt{{/if}}")
                    span.underlined Run for each order
                  if isLoading isLoadingAllRowsSelector
                    br
                    a.cancel.not-underlined(href="#")
                      .fa.fa-fw.fa-ban
                      span.underlined cancel
            tbody
              each rows
                tr
                  each shownColumns
                    +Template.dynamic(template=template data=data)
                  td
                    if actions.length
                      button.run-for-single-row.btn.btn-success(type="button")
                        .fa.fa-fw(class="{{#if isLoading isLoadingSingleRowSelector}}fa-spinner fa-spin{{else}}fa-bolt{{/if}}")
                        | {{../_i18n.runForSingleRow}}
                    else
                      button.btn.btn-default.btn-plain(type="button")
                        .fa.fa-fw.fa-check
                        | All good!
          .text-center
            +rowsPagination
