template(name="header")
  .panel-heading
    .h4
      .row
        .col-xs-9.col-sm-6.col-md-6.col-lg-7
          a(href="/").textual.not-underlined
            span.fa.fa-home
            | {{Settings.public.name}}: own your data
        .col-xs-3.col-sm-6.col-md-6.col-lg-5
          +menu
          +autorunCount
          +connection
