template(name="subfooter")
  .container
    .row.breathe
      .col-xs-12
        .text-center
          | Love it? Hate it? Tweet at <a href="http://twitter.com/home?status=@BackupHamsterHQ%20" target="_blank">@BackupHamsterHQ</a>
