template(name="subfooter")
  .container
    .row.breathe
      .col-xs-12
        .text-center
          | Need help? Send your question to <a href="mailto:denis.d.gorbachev@gmail.com?subject={{settings.public.name}}" target="_blank">denis.d.gorbachev@gmail.com</a>.
